body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .layout main {
    flex-grow: 1;
  }

  